<div class="features text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4 p-5">
        <img src="assets/images/icons/quality.svg" alt="">
        <h3 class="my-3">TOP Quality</h3>
        <p>
          Service get met adapted matters
          offence for. Principles man any insipidity
          age you simplicity.
        </p>
      </div>
      <div class="col-md-4 p-5">
        <img src="assets/images/icons/nature.svg" alt="">
        <h3 class="my-3">All Natural</h3>
        <p>
          For county now sister engage had
          season better had waited. Occasional
          mrs interested far expression.
        </p>
      </div>
      <div class="col-md-4 p-5">
        <img src="assets/images/icons/cashback.svg" alt="">
        <h3 class="my-3">10% Cashback</h3>
        <p>
          Use securing confined his shutters.
          Delightful as he it acceptance an
          solicitude discretion reasonably.
        </p>
      </div>
    </div>

  </div>
</div>


<div class="container mb-5 pl-5">
  <img src="assets/images/beautyelement.png" alt="">
</div>
