/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
.navsticky {
  z-index: 10000;
}

#topbar {
  background: var(--mainColor);
  padding: 10px 0;
  font-size: 14px;
  color: #fff;
}

#topbar .contact-info a,
#topbar i {
  color: #fff;
  text-decoration: none;
}

#topbar .contact-info i {
  font-style: normal;
  color: #fff;
  display: inline-block;
  margin-right: 12px;
}

#topbar .contact-info i a,
#topbar .contact-info i span {
  color: #fff;
}

#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
}

#topbar select {
  background-color: transparent;
  border: 0;
  box-shadow: none;

}

.navbar-brand {
  margin-right: 110px;
}

nav ul li {
  margin-left: 24px;
}

.navbar ul .nav-link.active,
.navbar ul .nav-link:hover {
  background-color: var(--mainColor);
  color: #fff;
}

nav ul a {
  color: var(--secondaryColor);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 20px;
  transition: all .3s ease-in-out;
}

nav section.right i {
  font-size: 19px;
  margin-right: 10px;

}


.navbar .dropdown i {
  margin: 0px 0px 0px 11px;
  font-weight: 500;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 15px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  font-size: 14px;
  font-weight: 500;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: 100%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: 100%;
  }
}




/* breakpoints */
@media (max-width:1024px) {
  nav ul li {
    margin-left: 0px;
  }

  nav ul a {
    color: var(--secondaryColor);

    padding: 10px 16px;
  }
}

@media (max-width:767px) {}

@media (max-width:640px) {}

@media (max-width:575px) {
  select {
    width: 33%;
    margin: 10px auto;
  }

  .social-links a {
    display: block;
    text-align: center;
  }

}


/* Responsive Navbar */










/* ==================== */
@media (max-width: 991.98px) {

  /* Mobile screens */
  #topbar {
    display: none !important;
  }

  .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;
  }

  .navbar-toggler {
    order: 1;
  }

  .right {
    margin-left: auto;
    order: 2;
    display: flex;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .right {
    display: flex;
    align-items: center;
    order: 3;
  }
}

@media (max-width: 375px) {
  .right i {
    font-size: 11px !important;
  }
}