<app-navbar></app-navbar>
<app-breadcrumb [breadcrumbData]="blogBreadCrumbData"></app-breadcrumb>

<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">

    <div class="row">

      <div class="col-lg-8 entries">

        <article class="entry row">

          <div class="entry-img col-md-4 position-relative">
            <img src="assets/images/blogpost.png" alt="" class="img-fluid h-100">
            <div class="layer">
              October 20, 2020
            </div>
          </div>

          <div class="right col-md-8">
            <h2 class="entry-title">
              <a routerLink="/blog/1">
                Gallery post
              </a>

            </h2>



            <div class="entry-content">
              <p>
                The beauty industry has long been criticized for its lack of
                inclusivity and diversity.
              </p>
              <div class="read-more">
                <a routerLink="/blog/1">Read More</a>
              </div>
            </div>
          </div>

        </article><!-- End blog entry -->
        <article class="entry row">

          <div class="entry-img col-md-4 position-relative">
            <img src="assets/images/blogpost.png" alt="" class="img-fluid h-100">
            <div class="layer">
              October 20, 2020
            </div>
          </div>

          <div class="right col-md-8">
            <h2 class="entry-title">
              <a routerLink="/blog/1">
                Gallery post
              </a>

            </h2>



            <div class="entry-content">
              <p>
                The beauty industry has long been criticized for its lack of
                inclusivity and diversity.
              </p>
              <div class="read-more">
                <a routerLink="/blog/1">Read More</a>
              </div>
            </div>
          </div>

        </article><!-- End blog entry -->
        <article class="entry row">

          <div class="entry-img col-md-4 position-relative">
            <img src="assets/images/blogpost.png" alt="" class="img-fluid h-100">
            <div class="layer">
              October 20, 2020
            </div>
          </div>

          <div class="right col-md-8">
            <h2 class="entry-title">
              <a routerLink="/blog/1">
                Gallery post
              </a>

            </h2>



            <div class="entry-content">
              <p>
                The beauty industry has long been criticized for its lack of
                inclusivity and diversity.
              </p>
              <div class="read-more">
                <a routerLink="/blog/1">Read More</a>
              </div>
            </div>
          </div>

        </article><!-- End blog entry -->
        <article class="entry row">

          <div class="entry-img col-md-4 position-relative">
            <img src="assets/images/blogpost.png" alt="" class="img-fluid h-100">
            <div class="layer">
              October 20, 2020
            </div>
          </div>

          <div class="right col-md-8">
            <h2 class="entry-title">
              <a routerLink="/blog/1">
                Gallery post
              </a>

            </h2>



            <div class="entry-content">
              <p>
                The beauty industry has long been criticized for its lack of
                inclusivity and diversity.
              </p>
              <div class="read-more">
                <a routerLink="/blog/1">Read More</a>
              </div>
            </div>
          </div>

        </article><!-- End blog entry -->
        <article class="entry row">

          <div class="entry-img col-md-4 position-relative">
            <img src="assets/images/blogpost.png" alt="" class="img-fluid h-100">
            <div class="layer">
              October 20, 2020
            </div>
          </div>

          <div class="right col-md-8">
            <h2 class="entry-title">
              <a routerLink="/blog/1">
                Gallery post
              </a>

            </h2>



            <div class="entry-content">
              <p>
                The beauty industry has long been criticized for its lack of
                inclusivity and diversity.
              </p>
              <div class="read-more">
                <a routerLink="/blog/1">Read More</a>
              </div>
            </div>
          </div>

        </article><!-- End blog entry -->



        <div class="blog-pagination">
          <ul class="justify-content-center">
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </ul>
        </div>

      </div><!-- End blog entries list -->

      <div class="col-lg-4">

        <div class="sidebar">

          <h3 class="sidebar-title">Search</h3>
          <div class="sidebar-item search-form">
            <form action="">
              <input type="text" placeholder="Search ...">
              <button type="submit"><i class="pi pi-search"></i></button>
            </form>
          </div><!-- End sidebar search formn-->

          <!-- <h3 class="sidebar-title">Categories</h3>
          <div class="sidebar-item categories">
            <ul>
              <li><a href="#">General <span>(25)</span></a></li>
              <li><a href="#">Lifestyle <span>(12)</span></a></li>
              <li><a href="#">Travel <span>(5)</span></a></li>
              <li><a href="#">Design <span>(22)</span></a></li>
              <li><a href="#">Creative <span>(8)</span></a></li>
              <li><a href="#">Educaion <span>(14)</span></a></li>
            </ul>
          </div> -->
          <!-- End sidebar categories-->

          <h3 class="sidebar-title text-uppercase">Latest Articles</h3>
          <div class="sidebar-item recent-posts">
            <div class="post-item clearfix">
              <img src="assets/images/sideblog.png" alt="" height="70">
              <h4><a routerLink="/blog/1">Nihil blanditiis at in nihil autem</a></h4>
              <time datetime="2020-01-01">Jan 1, 2020</time>
            </div>
            <div class="post-item clearfix">
              <img src="assets/images/sideblog.png" alt="" height="70">
              <h4><a routerLink="/blog/1">Nihil blanditiis at in nihil autem</a></h4>
              <time datetime="2020-01-01">Jan 1, 2020</time>
            </div>
            <div class="post-item clearfix">
              <img src="assets/images/sideblog.png" alt="" height="70">
              <h4><a routerLink="/blog/1">Nihil blanditiis at in nihil autem</a></h4>
              <time datetime="2020-01-01">Jan 1, 2020</time>
            </div>
            <div class="post-item clearfix">
              <img src="assets/images/sideblog.png" alt="" height="70">
              <h4><a routerLink="/blog/1">Nihil blanditiis at in nihil autem</a></h4>
              <time datetime="2020-01-01">Jan 1, 2020</time>
            </div>






          </div><!-- End sidebar recent posts-->

          <h3 class="sidebar-title">Tags</h3>
          <div class="sidebar-item tags">
            <ul>
              <li><a href="#">App</a></li>
              <li><a href="#">IT</a></li>
              <li><a href="#">Business</a></li>
              <li><a href="#">Mac</a></li>
              <li><a href="#">Design</a></li>
              <li><a href="#">Office</a></li>
              <li><a href="#">Creative</a></li>
              <li><a href="#">Studio</a></li>
              <li><a href="#">Smart</a></li>
              <li><a href="#">Tips</a></li>
              <li><a href="#">Marketing</a></li>
            </ul>
          </div><!-- End sidebar tags-->

        </div><!-- End sidebar -->

      </div><!-- End blog sidebar -->

    </div>

  </div>
</section><!-- End Blog Section -->



<app-footer></app-footer>
