<footer class="py-5">
  <div class="container">
    <div class="d-flex justify-content-center">
      <a routerLink="/about" class="text-uppercase text-decoration-none text-white fs-6 me-5">About us</a>
      <a routerLink="/contact" class="text-uppercase text-decoration-none text-white fs-6">Contact</a>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4 col-md-6">
        <div class="mb-3">
          <i class="pi pi-phone me-3 text-white"></i>
          <span class="text-white">+123 488 9652</span>
        </div>
        <div class="mb-3">
          <i class="pi pi-map-marker me-3 text-white"></i>
          <span class="text-white">25 West 21th Street, Miami FL, USA</span>
        </div>
        <div class="mb-3">
          <i class="pi pi-inbox
          me-3 text-white"></i>
          <span class="text-white">info&#64;luchiana.com</span>
        </div>
        <div class="mb-3">
          <i class="pi pi-clock
          me-3 text-white"></i>
          <span class="text-white">Mon-Fri: 10:00 - 18:00</span>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pt-4">
        <div class="d-flex justify-content-center">
          <img src="assets/images/logo.svg" class="text-center" alt="">
        </div>
        <div class="d-flex justify-content-center mt-4">
          <a href="#" class="mx-2 text-white">
            <i class="pi pi-facebook"></i>
          </a>
          <a href="#" class="mx-2 text-white">
            <i class="pi pi-instagram
            "></i>
          </a>
          <a href="#" class="mx-2 text-white">
            <i class="pi pi-twitter
            "></i>
          </a>
          <a href="#" class="mx-2 text-white">
            <i class="pi pi-youtube"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-4">
        <p class="text-white fs-6">Embrace your unique features, nourish your skin, and let your inner confidence shine through. Remember, true beauty radiates from within.</p>
        <div style="text-align: right;">
          <a href="#" class="text-white text-uppercase fs-6 fw-light text-decoration-none">read more</a>
        </div>

      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="copyright text-white">
          &copy; Copyright 2024<strong><span> Vitaparapharma</span></strong>. All Rights Reserved
        </div>
      </div>
      <div class="col-md-6" style="text-align: right;">
        <a routerLink="/faq" class="mx-2 text-white fs-6 text-decoration-none">FAQ</a>
        <a routerLink="/faq" class="mx-2 text-white fs-6 text-decoration-none">TERMS</a>
        <a routerLink="/faq" class="mx-2 text-white fs-6 text-decoration-none">PRIVACY POLICY</a>


      </div>
    </div>
  </div>
</footer>
