<section class="articles main-section">
  <div class="container">
    <div class="text-center latest text-uppercase">Our latest</div>
    <h2 class="text-center text-uppercase">Articles</h2>
    <div class="row" *ngIf="blogPosts.length">
      <div class="col-md-6 mb-3" *ngFor="let post of blogPosts | slice:0:4">
        <div class="row">
          <div class="article-image col-5">
            <img [src]="post.picture" alt="">
          </div>
          <div class="article-details col-6">
            <div class="d-flex justify-content-center align-items-start flex-column p-3">
              <h4>{{post.title}}</h4>
              <ul>
                <li>Beauty</li>
                <li>Fashion</li>
              </ul>
              <a href="#" class="text-uppercase read">read more</a>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</section>
