<div class="breadcrumb d-flex justify-content-center align-items-center text-center text-capitalize text-white breadcrumb-all" [ngStyle]="{'--breadcrumb-bg': 'url(' + breadCrumbBgImage + ')','--overlay-opacity': overlayOpacity / 100}" >
  <div class="overlay"></div>
  <div class="content text-center">
    <h2 class="text-uppercase">{{breadcrumbData.title}}</h2>
    <nav
      style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
      aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item text-uppercase"><a routerLink="/{{breadcrumbData.prev}}">{{breadcrumbData.prev}}</a></li>
        <li class="breadcrumb-item active text-uppercase" aria-current="page">{{breadcrumbData.title}}</li>
      </ol>
    </nav>
  </div>
</div>
