<app-navbar></app-navbar>
<div
  class="breadcrumb d-flex justify-content-center align-items-center text-center text-capitalize text-white breadcrumb-all">
  <div class="overlay"></div>
  <div class="content text-center">
    <h2 class="text-uppercase">Gallery post</h2>
    <nav
      style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
      aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item text-uppercase"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active text-uppercase" aria-current="page"><a routerLink="../">Blog</a></li>
        <li class="breadcrumb-item active text-uppercase" aria-current="page">Gallery post</li>
      </ol>
    </nav>
  </div>
</div>
<!-- ======= Blog Single Section ======= -->
<section id="blog" class="blog">
  <div class="container">

    <div class="row">

      <div class="col-12 entries">

        <article class="entry entry-single">

          <div class="entry-img">
            <img src="assets/images/singleblog.png" alt="" class="img-fluid w-100">
          </div>

          <h2 class="entry-title">
            <a href="blog-single.html">Dolorum optio tempore voluptas dignissimos cumque fuga qui quibusdam quia</a>
          </h2>

          <div class="entry-meta">
            <ul>
              <li class="d-flex align-items-center"><i class="pi pi-person"></i> <a href="blog-single.html">MAYAR</a>
              </li>
              <li class="d-flex align-items-center"><i class="pi pi-clock"></i> <a href="blog-single.html"><time
                    datetime="2020-01-01">Oct 1, 2040</time></a></li>
              <li class="d-flex align-items-center"><i class="pi pi-chat-dots"></i> <a href="blog-single.html">12
                  Comments</a></li>
            </ul>
          </div>

          <div class="entry-content">
            <p>
              Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et
              laboriosam eius aut nostrum quidem aliquid dicta.
              Et eveniet enim. Qui velit est ea dolorem doloremque deleniti aperiam unde soluta. Est cum et quod quos
              aut ut et sit sunt. Voluptate porro consequatur assumenda perferendis dolore.
            </p>

            <p>
              Sit repellat hic cupiditate hic ut nemo. Quis nihil sunt non reiciendis. Sequi in accusamus harum vel
              aspernatur. Excepturi numquam nihil cumque odio. Et voluptate cupiditate.
            </p>

            <blockquote>
              <p>
                Et vero doloremque tempore voluptatem ratione vel aut. Deleniti sunt animi aut. Aut eos aliquam
                doloribus minus autem quos.
              </p>
            </blockquote>

            <p>
              Sed quo laboriosam qui architecto. Occaecati repellendus omnis dicta inventore tempore provident voluptas
              mollitia aliquid. Id repellendus quia. Asperiores nihil magni dicta est suscipit perspiciatis. Voluptate
              ex rerum assumenda dolores nihil quaerat.
              Dolor porro tempora et quibusdam voluptas. Beatae aut at ad qui tempore corrupti velit quisquam rerum.
              Omnis dolorum exercitationem harum qui qui blanditiis neque.
              Iusto autem itaque. Repudiandae hic quae aspernatur ea neque qui. Architecto voluptatem magni. Vel magnam
              quod et tempora deleniti error rerum nihil tempora.
            </p>

            <h3>Et quae iure vel ut odit alias.</h3>
            <p>
              Officiis animi maxime nulla quo et harum eum quis a. Sit hic in qui quos fugit ut rerum atque. Optio
              provident dolores atque voluptatem rem excepturi molestiae qui. Voluptatem laborum omnis ullam quibusdam
              perspiciatis nulla nostrum. Voluptatum est libero eum nesciunt aliquid qui.
              Quia et suscipit non sequi. Maxime sed odit. Beatae nesciunt nesciunt accusamus quia aut ratione
              aspernatur dolor. Sint harum eveniet dicta exercitationem minima. Exercitationem omnis asperiores natus
              aperiam dolor consequatur id ex sed. Quibusdam rerum dolores sint consequatur quidem ea.
              Beatae minima sunt libero soluta sapiente in rem assumenda. Et qui odit voluptatem. Cum quibusdam
              voluptatem voluptatem accusamus mollitia aut atque aut.
            </p>

            <h3>Ut repellat blanditiis est dolore sunt dolorum quae.</h3>
            <p>
              Rerum ea est assumenda pariatur quasi et quam. Facilis nam porro amet nostrum. In assumenda quia quae a id
              praesentium. Quos deleniti libero sed occaecati aut porro autem. Consectetur sed excepturi sint non
              placeat quia repellat incidunt labore. Autem facilis hic dolorum dolores vel.
              Consectetur quasi id et optio praesentium aut asperiores eaque aut. Explicabo omnis quibusdam esse. Ex
              libero illum iusto totam et ut aut blanditiis. Veritatis numquam ut illum ut a quam vitae.
            </p>
            <p>
              Alias quia non aliquid. Eos et ea velit. Voluptatem maxime enim omnis ipsa voluptas incidunt. Nulla sit
              eaque mollitia nisi asperiores est veniam.
            </p>

          </div>
          <div class="likeshare mt-4">
            <div class="d-flex align-items-center">
              <a href="blog-single.html" class="me-3"><i class="pi pi-thumbs-up text-black"></i> </a>
              <a href="blog-single.html" class="me-3"><i class="pi pi-thumbs-down text-black"></i></a>
              <a href="blog-single.html" class="me-3"><i class="pi pi-share-alt text-black"></i></a>

            </div>
          </div>


        </article>

        <div class="blog-author d-flex align-items-center">
          <div class="image-container me-3">
            <img src="assets/images/profile.jpeg" alt="">
          </div>
          <div>
            <h4>MAYAR</h4>

            <p class="mb-1">
              For county now sister engage had season better had waited. Occasional mrs interested far expression.
              Engage had season better had waited. Occasional mrs interested far expression. </p>
            <div class="social-links">
              <a href="https://twitters.com/#"><i class="pi pi-twitter"></i></a>
              <a href="https://facebook.com/#"><i class="pi pi-facebook"></i></a>
              <a href="https://instagram.com/#"><i class="pi pi-instagram"></i></a>
            </div>
          </div>

        </div><!-- End blog author bio -->

        <div class="blog-comments">

          <h4 class="comments-count">8 Comments</h4>



          <div id="comment-2" class="comment">
            <div class="d-flex">
              <div class="comment-img"><img src="assets/images/review.jpeg" alt=""></div>
              <div>
                <h5><a href="">Aron Alvarado</a>
                </h5>
                <time datetime="2020-01-01">01 Jan, 2020</time>
                <p>
                  Ipsam tempora sequi voluptatem quis sapiente non. Autem itaque eveniet saepe. Officiis illo ut beatae.
                </p>
              </div>
            </div>



          </div><!-- End comment #2-->

          <div id="comment-3" class="comment">
            <div class="d-flex">
              <div class="comment-img"><img src="assets/images/profile.jpeg" alt=""></div>
              <div>
                <h5><a href="">Nolan Davidson</a>
                </h5>
                <time datetime="2020-01-01">01 Jan, 2020</time>
                <p>
                  Distinctio nesciunt rerum reprehenderit sed. Iste omnis eius repellendus quia nihil ut accusantium
                  tempore. Nesciunt expedita id dolor exercitationem aspernatur aut quam ut. Voluptatem est accusamus
                  iste at.
                  Non aut et et esse qui sit modi neque. Exercitationem et eos aspernatur. Ea est consequuntur officia
                  beatae ea aut eos soluta. Non qui dolorum voluptatibus et optio veniam. Quam officia sit nostrum
                  dolorem.
                </p>
              </div>
            </div>

          </div><!-- End comment #3 -->


          <div class="reply-form w-75">
            <h4 class="text-muted fw-bold">Post a Comment</h4>
            <form>
              <div class="row">
                <div class="col form-group">
                  <textarea name="comment" class="form-control" placeholder="Comment *"></textarea>
                </div>
              </div>
              <button type="submit" class="btn w-100 btn-outline-comment">Post Comment</button>

            </form>

          </div>

        </div><!-- End blog comments -->

      </div><!-- End blog entries list -->



    </div>

  </div>
</section><!-- End Blog Single Section -->
<div class="container">
  <div class="row related main-section">
    <h2 class="text-center mb-3">Related products</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6" *ngFor="let relatedItem of relatedProducts">
        <!-- <app-productcard [productCardData]="relatedItem" origin="single-product"></app-productcard> -->
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>
