<div class="mission text-center main-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-uppercase text-black"><span>Our</span> Mission</h2>
        <p class="text-muted">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat.
        </p>
      </div>

    </div>
  </div>
</div>
