<app-navbar></app-navbar>
<app-breadcrumb [breadcrumbData]="shopBreadCrumbData"></app-breadcrumb>
<div class="container my-5">
  <div class="row">
    <div class="col-md-6 mb-5">
      Showing {{ pageIndex * pageSize + 1 }}-{{
        (pageIndex + 1) * pageSize > totalItems
          ? totalItems
          : (pageIndex + 1) * pageSize
      }}
      of {{ totalItems }} results
    </div>
    <div class="col-md-6 mb-5 d-flex justify-content-md-end">
      <div>
        <select name="" id="" class="form-control">
          <option value="">Default Sorting</option>
          <option value="">Default Sorting</option>
          <option value="">Default Sorting</option>
          <option value="">Default Sorting</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <app-productcard
      class="col-md-4 col-sm-6"
      *ngFor="let product of paginatedProducts"
      [productCardData]="product"
      origin="shop"
    >
    </app-productcard>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-between">
      <button
        class=""
        (click)="prevPage()"
        [disabled]="pageIndex === 0"
      >
        Previous
      </button>
      <button
        class=""
        (click)="nextPage()"
        [disabled]="pageIndex >= totalPages - 1"
      >
        Next
      </button>
    </div>
  </div>
</div>
<app-footer></app-footer>

<!-- <mat-paginator [length]="products?.length" [pageSize]="12" [pageSizeOptions]="[12]" #paginator></mat-paginator> -->
